{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags  bc3-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    {% block content %}


    <div class="card bg-dark text-white">
        <img src="{% static 'minimog/b1.jpg' %}" class="card-img" height="500px" width="100%" alt="...">
        <div class="card-img-overlay" style="text-align:center;margin-top: 90px;color: rgb(250, 245, 245);">
            <h1 class="card-title" style="font-size: 50px; font-family: 'Times New Roman', Times, serif;">"The
                reflection of true beauty and strength."</h1>
            <p class="card-text" style="font-size: 23px;">We create the design that you dream of and make it alive</p>
            <p class="card-text" style="font-size: 20px;">"I love who I see looking at me in the mirror." </p>
            <p class="card-text" style="font-size: 20px;"><button type="button" class="btn btn-secondary">About
                    Me</button></p>
        </div>
    </div>
    <!-- =========================================================== -->

    <!-- ========================================================== -->
    <div style="background-color:whitesmoke">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 80px;margin-bottom: 40px;">
                    <center>
                        <h1>OUR STORY</h1>
                        <p style="font-size: 23px;">ABOUT SIMPLICITY OF MIRRORS</p>
                        <p style="color: rgb(79, 77, 77);">Mirrors and reflections can help you to see things in a
                            different way. Self-love mirror quotes can help you to gain self-acceptance and confidence
                            and make positive changes to your life and the way that you think about yourself.“Life is
                            like a mirror, we get the best results when we smile at it.” Life is like a mirror
                            reflecting your feelings, your actions and your thoughts. The idea is that everything you
                            experience in life is a reflection of yourself. The idea here is that you get what you give.
                        </p>
                        <p style="color: rgb(79, 77, 77);">“Thinking about design is hard, but not thinking about it can
                            be
                            disastrous.”</p>
                    </center>
                </div>

            </div>
        </div>

    </div>
    <!-- ============================ -->
    <div style="background-color: rgb(173, 173, 172);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 110px;color: rgb(14, 12, 12);">
                    <center>
                        <h1 style="font-family: 'Times New Roman', Times, serif;">"Catch a glimpse"</h1>
                        <p style="font-size: 20px;">The mind of the painter must resemble a mirror, which always takes
                            the colour of the object it reflects and is completely occupied by the images of as many
                            objects as are in front of it</p>
                        <p style="color: rgb(79, 77, 77);">“Thinking about design is hard, but not thinking about it can
                            be
                            disastrous.”</p>
                    </center>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{% static 'minimog/f1.webp' %}" class="img-fluid" height="100px" width="100%"
                        style="margin-top:20px;margin-bottom: 20px;margin-left: 40px;" alt="...">
                </div>

            </div>
        </div>

    </div>
    <!-- ================================== -->
    <div style="background-color: rgb(254, 246, 235);">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 50px;margin-bottom: 50px;">
                    <div class="card mb-3" style="max-width: 540px;background-color: azure;">
                        <div class="row g-0" style="margin-top: 30px;margin-left: 30px;margin-bottom: 30px;">
                            <div class="col-md-4" >
                                <img src="{% static 'minimog/p8.webp' %}" class="img-fluid rounded-start" alt="...">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text">"Life is but a mirror looking back at us, uncovering the layers we've neglected to see.Insight is the first condition of Art.In love, one and one are one"</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
                <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 50px;margin-bottom: 50px;">
                    <div class="card mb-3" style="max-width: 540px;background-color: azure;">
                        <div class="row g-0" style="margin-top: 30px;margin-left: 30px;margin-bottom: 30px;">
                            <div class="col-md-4" >
                                <img src="{% static 'minimog/s5.avif' %}" class="img-fluid rounded-start" alt="...">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text">"Reflecting upon one's work is like taking inventory of the soul, to better manage its contents.Love is not what you say. Love is what you do"</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- =================================== -->

    <div class="container">
        <div class="row">
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="card" >
                <img src="{% static 'minimog/s5.avif' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Mirror walls are a versatile and visually striking design feature that can instantly elevate the aesthetics  </p>
                </div>
              </div>
          </div>
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="card" >
                <img src="{% static 'minimog/z6.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Decorative glass offers a versatile and visually stunning solution to enhance both interior and exterior spaces. </p>
                </div>
              </div>
          </div>
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="card" >
                <img src="{% static 'minimog/s5.avif' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Venetian mirrors are renowned for their exquisite craftsmanship, intricate detailing, and timeless elegance. </p>
                </div>
              </div>
          </div>
          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="card" >
                <img src="{% static 'minimog/z6.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Decorative glass offers a versatile and visually stunning solution to enhance both interior and exterior spaces. </p>
                </div>
              </div>
          </div>
        </div>
      </div>
   
    <!-- ============================================================================================================================= -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    {% endblock %}
</body>

</html>